/* Chinese text styling */
.chinese-name {
  font-family:
    "Noto Serif SC",
    "Noto Sans SC",
    "Source Han Serif SC",
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    serif;

  font-weight: 400;
  margin-left: 0.25em;
  font-size: 0.9em;
  opacity: 0.9;
}
